In [1]:
from pandas import read_csv
from pandas import DataFrame

In [3]:
# load dataset
series = read_csv('/content/drive/MyDrive/Colab Notebooks/AAPL-Final.csv', header=0)
series.head()

,Date,Open,High,Low,eps,pe,InRate,InfRate,Close,Adj Close,Volume
0,1/3/2000,0.936384,1.004464,0.907924,0.310000,20.770000,3.411051,1.760000,0.999442,0.853355,535796800
1,1/4/2000,0.966518,0.987723,0.903460,0.188723,21.050533,2.796146,2.488276,0.915179,0.781409,512377600
2,1/5/2000,0.926339,0.987165,0.919643,0.189153,21.045239,2.795518,2.488011,0.928571,0.792844,778321600
3,1/6/2000,0.947545,0.955357,0.848214,0.189583,21.039946,2.794891,2.487746,0.848214,0.724232,767972800
4,1/7/2000,0.861607,0.901786,0.852679,0.190012,21.034654,2.794264,2.487482,0.888393,0.758538,460734400

In [9]:
# reframe as supervised learning
dataframe = DataFrame()
for i in range(5,0,-1):
	dataframe['t-'+str(i)] = series.shift(i).values[:,0]
dataframe['t'] = series.values[:,0]
print(dataframe.head(5537))
dataframe = dataframe[5537:]

             t-5         t-4         t-3         t-2         t-1           t
0            NaN         NaN         NaN         NaN         NaN    1/3/2000
1            NaN         NaN         NaN         NaN    1/3/2000    1/4/2000
2            NaN         NaN         NaN    1/3/2000    1/4/2000    1/5/2000
3            NaN         NaN    1/3/2000    1/4/2000    1/5/2000    1/6/2000
4            NaN    1/3/2000    1/4/2000    1/5/2000    1/6/2000    1/7/2000
...          ...         ...         ...         ...         ...         ...
5531  12/17/2021  12/20/2021  12/21/2021  12/22/2021  12/23/2021  12/27/2021
5532  12/20/2021  12/21/2021  12/22/2021  12/23/2021  12/27/2021  12/28/2021
5533  12/21/2021  12/22/2021  12/23/2021  12/27/2021  12/28/2021  12/29/2021
5534  12/22/2021  12/23/2021  12/27/2021  12/28/2021  12/29/2021  12/30/2021
5535  12/23/2021  12/27/2021  12/28/2021  12/29/2021  12/30/2021  12/31/2021

[5536 rows x 6 columns]

In [10]:
# save to new file
dataframe.to_csv('lags_12months_features.csv', index=False)